{block slug}contact-slug{/block}

{block content}

<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>{_'contact-h2'}</h2>
                {control contactForm}
            </div>
        </div>
    </div>
</main>

{/block}

{*
{block scripts}
{include parent}
{/block}

{block head}
{include parent}
{/block}
*}
