<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$values['subject']}</title>
</head>
<body>
<img src="{$baseUri}/images/250x100.png" alt="">
<br>
<br>
<p>
    <b>Tento email byl vygenerován na základě vyplnění formuláře v sekci "Kontakt".</b>
</p>
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px; margin-bottom: 20px; line-height: 2;">
    <tr>
        <td align="left" valign="top" width="30" style="white-space: nowrap;">Jméno:</td>
        <td width="20"></td>
        <td valign="top">{$values['name']}</td>
    </tr>
{*
    <tr>
        <td align="left" valign="top" width="30" style="white-space: nowrap;">Telefon:</td>
        <td width="20"></td>
        <td valign="top">{$values['phone']}</td>
    </tr>
*}
    <tr>
        <td align="left" valign="top" width="30" style="white-space: nowrap;">E-mail:</td>
        <td width="20"></td>
        <td valign="top">{$values['email']}</td>
    </tr>
    <tr>
        <td align="left" valign="top" width="30" style="white-space: nowrap;">Zpráva:</td>
        <td width="20"></td>
        <td valign="top">{$values['message']}</td>
    </tr>
</table>
</body>
</html>
